* {
  box-sizing: border-box;
}
.row
{
	background-color:#e18daf;
	color:white;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  .rowimg
  {
	  width:50%;
  }


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
	width: 20%;
  }
  .row{
  font-size:9px;
  }
  .rowimg
  {
	  width:100%;
  }
}